/*
@media (min-width: 1366px) {

}
@media (min-width: 1024px) and (max-width: 1365px) {

}
@media (min-width: 768px) and (max-width: 1023px) {

}
@media (max-width: 767px) {

}
*/
/* RESET */
html, body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
  li {
    list-style-type: none;
  }
a {
  text-decoration: none;
  color: inherit;
}
input {
  font-family: inherit;
}
/* GENERAL */
[lang="en"] {
  font-family: 'Roboto', sans-serif;
}
[lang="ar"] {
  font-family: 'Cairo', sans-serif;
}
/* ICON */
.icon {
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-color: #000;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
.icon.type--menu {
  -webkit-mask-image: url('../img/icon--menu.svg');
}
.icon.type--add {
  -webkit-mask-image: url('../img/icon--add.svg');
}
.icon.type--home {
  -webkit-mask-image: url('../img/icon--home.svg');
}
.icon.type--fire {
  -webkit-mask-image: url('../img/icon--fire.svg');
}
.icon.type--category {
  -webkit-mask-image: url('../img/icon--category.svg');
}
.icon.type--contact {
  -webkit-mask-image: url('../img/icon--contact.svg');
}
/* COMPONENT PAGE */
.component-page {
  height: 100%;
  display: grid;
}
  .page__top {
  }
  .page__side {
    background-color: #f5f5f5;
  }
  .page__main {
    overflow-y: auto;
  }
@media (min-width: 768px) {
.component-page {
  grid-template-columns: 64px 1fr;
  grid-template-rows: max-content 1fr;
}
.component-page.status--extended-side {
  grid-template-columns: 240px 1fr;
}
  .page__top {
    grid-column-end: span 2
  }
  .page__side {
  }
  .page__main {
  }
}
@media (max-width: 767px) {
.component-page {
  grid-template-areas: "top" "main" "side";
  grid-template-rows: max-content 1fr max-content;
}
  .page__top {
    grid-area: top;
  }
  .page__side {
    grid-area: side;
  }
  .page__main {
    grid-area: main;
  }
}
/* COMPONENT HEADER */
.component-header {
  display: grid;
  grid-gap: 8px;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0px 0px 4px 1px rgba(17, 17, 17, .06);
}
  .header__button {
    grid-area: button;
  }
  .header__logo {
    grid-area: logo;
  }
  .header__search {
    grid-area: search;
  }
  .header__links {
    grid-area: links;
  }
@media (min-width: 768px) {
.component-header {
  grid-template-areas: "button logo . search . links";
  grid-template-columns: max-content max-content 1fr max-content 1fr minmax(min-content, max-content);
}
}
@media (max-width: 767px) {
.component-header {
  grid-template-areas: "logo . links" "search search search";
  grid-template-columns: max-content 1fr minmax(min-content, max-content);
}
  .header__button {
    display: none;
  }
}
/* COMPONENT BUTTON */
.header__button {
  box-sizing: border-box;
  border-radius: 50%;
  transition: background 240ms ease-in-out 0s;
}
.header__button:focus-within, .header__button:hover {
  background-color: #e9e9e9;
}
  .header__button a {
    outline-width: 0;
  }
  .header__button .icon {
    margin: 6px;
    width: 20px;
    height: 20px;
    background-color: #333;
  }
/* COMPONENT LOGO */
.component-logo {

}
  .component-logo a:focus {
    outline-color: #d3d3d3;
  }
  .component-logo img {
    display: block;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-transform: uppercase;
  }
/* COMPONENT SEARCH */
.component-search {
  
}
  .sreach__items {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
    .sreach__item {
      border: 1px solid #d3d3d3;
      overflow: hidden;
    }
    [dir="ltr"] .sreach__item:first-child, [dir="rtl"] .sreach__item:last-child {
      border-radius: 4px 0 0 4px;
    }
    [dir="rtl"] .sreach__item:first-child, [dir="ltr"] .sreach__item:last-child {
      border-radius: 0 4px 4px 0;
    }
    [dir="ltr"] .sreach__item:not(:last-child) {
      border-right-width: 0;
    }
    [dir="rtl"] .sreach__item:not(:last-child) {
      border-right-width: 0;
    }
      .sreach__item input {
        box-sizing: border-box;
        outline-width: 0;
        border-width: 0;
        padding: 0;
        width: 100%;
        height: 30px;
        line-height: 24px;
      }
      .sreach__item input[type="text"] {
        padding-right: 8px;
        padding-left: 8px;
        border: 1px solid transparent;
      }
      .sreach__item input[type="text"]:focus {
        border-color: #e9e9e9;
      }
      .sreach__item input[type="submit"] {
        cursor: pointer;
        padding-right: 16px;
        padding-left: 16px;
        background-color: #f8f8f8;
        text-transform: uppercase;
        color: #333;
      }
      .sreach__item input[type="submit"]:focus, .sreach__item input[type="submit"]:hover {
        background-color: #e9e9e9;
      }
@media (min-width: 768px) {
      .sreach__item input[type="text"] {
        min-width: 320px;
      }
}
/* COMPONENT LINKS */
.component-links {
  
}
  .component-links a {
    outline-width: 0;
  }
  .component-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: -8px;
  }
    .component-links li {
      margin: 8px;
    }
      .links__item {
        display: grid;
        grid-gap: 4px;
        grid-auto-flow: column;
        align-items: center;
        line-height: 31px;
        border-bottom: 1px solid transparent;
        color: #333;
      }
      .links__item.status--active, .links__item:hover, .links__item:focus {
        border-bottom-color: #333;
      }
        .links__item .icon {
          width: 16px;
          height: 16px;
          background-color: #d3d3d3;
          transition: transform 240ms ease-in-out;
        }
        .links__item.status--active .icon, .links__item:hover .icon, .links__item:focus .icon {
          background-color: #fdcf26;
          transform: rotateZ(90deg);
        }
/* COMPONENT BLOCKS */
.component-blocks {
  padding: 16px;
}
  .blocks__items {
    display: grid;
    grid-gap: 16px;
  }
    .blocks__item {
      
    }
@media (min-width: 1024px) {
  .component-blocks.theme--main .blocks__items {
    grid-template-columns: repeat(2, 1fr);
  }
    .component-blocks.theme--main .blocks__item.theme--full {
      grid-column-end: span 2;
    }
}
@media (max-width: 767px) {
.component-blocks.theme--side {
  padding: 0;
}
}
/* COMPONENT NAVIGATOR */
.component-navigator {

}
  .component-navigator ul {
    display: grid;
    grid-gap: 12px 0;
  }
    .component-navigator li {
    }
    .navigator__item.status--active, .navigator__item:hover {
      color: #fdcf26;
    }
      .navigator__item {
        display: grid;
        grid-gap: 4px;
        justify-content: center;
        justify-items: center;
        align-items: center;
      }
        .navigator__item__icon {
          width: 32px;
          height: 32px;
        }
        .navigator__item.status--active .navigator__item__icon, .navigator__item:hover .navigator__item__icon {
          background-color: #fdcf26;
        }
        .navigator__item__name {
          text-transform: uppercase;
          text-align: center;
          font-size: 0.4em;
        }
@media (min-width: 768px) {
      .component-page.status--extended-side .navigator__item {
        grid-template-columns: max-content 1fr;
        justify-items: start;
      }
        .component-page.status--extended-side .navigator__item__icon {
          width: 24px;
          height: 24px;
        }
        .component-page.status--extended-side .navigator__item__name {
          text-align: start;
          font-size: 1em;
        }
}
@media (max-width: 767px) {
  .component-navigator ul {
    grid-auto-flow: column;
    justify-content: stretch;
  }
    .component-navigator li {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .component-navigator li:nth-child(even) {
      background-color: #e9e9e9;
    }
      .navigator__item {
      }
}
/* COMPONENT CATEGORY */
.component-category {
  display: grid;
  grid-gap: 16px;
  border-top: 1px solid #d3d3d3;
  padding-top: 16px;
}
.component-category.theme--no-border {
  border-top-width: 0;
  padding-top: 0;
}
  .category__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
    .category__title {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 8px;
    }
      .category__title__image {
      }
        .category__title__image img {
          border-radius: 50%;
          width: 32px;
          height: 32px;
          object-fit: cover;
        }
      .category__title__name {
        text-transform: uppercase;
        font-size: 1.2em;
      }
    .category__options {
      
    }
      .category__options ul {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
      }
        .category__options li {
          margin: 8px;
          padding: 0 8px;
          background-color: #fdcf26;
          text-transform: uppercase;
          font-size: 0.8em;
          line-height: 24px;
          color: #00000088;
        }
        .category__options li:hover {
          color: #ffffffaa;
        }
  .category__main {

  }
/* COMPONENT VIDEOS */
.component-videos {
  
}
  .videos__items {
    display: grid;
    grid-gap: 16px;
  }
    .videos__item {
      display: grid;
      grid-gap: 8px;
      position: relative;
    }
      .videos__item__image {
        position: relative;
        padding-top: 56.25%;
      }
      .videos__item:hover .videos__item__image::before {
        content: '';
        cursor: pointer;
        position: absolute;
        top: calc(50% - 16px);
        right: calc(50% - 16px);
        bottom: calc(50% - 16px);
        left: calc(50% - 16px);
        z-index: 1;
        width: 32px;
        height: 32px;
        background-color: #fff;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-image: url('../img/icon--play.svg');
      }
      .videos__item:hover .videos__item__image::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000044;
      }
        .videos__item__image img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      .videos__item__title {
        height: 1.2em;
        overflow: hidden;
        line-height: 1.2em;
      }
      .component-videos.theme--featured .videos__item__title, .component-videos.theme--trending .videos__item__title {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 16px;
        text-align: center;
        color: #fff;
      }
      .videos__item:hover .videos__item__title {
        color: #fdcf26;
      }
      .videos__item__duration {
        position: absolute;
        top: 0;
        margin: 8px;
        padding: 4px;
        background-color: #000;
        color: #fff;
      }
      [dir="ltr"] .videos__item__duration {
        right: 0;
      }
      [dir="rtl"] .videos__item__duration {
        left: 0;
      }
      .videos__item:hover .videos__item__duration {
        color: #d3d3d3;
      }
@media (min-width: 1024px) {
  .component-videos.theme--featured .videos__items, .component-videos.theme--trending .videos__items {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 9px 16px;
  }
  .component-videos.theme--featured .videos__items {
  }
    .component-videos.theme--featured .videos__item:nth-child(5n+1) {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
      .component-videos.theme--featured .videos__item:nth-child(5n+1) .videos__item__title {
        height: 3.6em;
      }
  .component-videos.theme--trending .videos__items {
  }
    .component-videos.theme--trending .videos__item:nth-child(10n+2) {
      grid-row-end: span 2;
    }
    .component-videos.theme--trending .videos__item:nth-child(10n+5) {
      grid-row-end: span 2;
    }
    .component-videos.theme--trending .videos__item:nth-child(10n+6) {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
    .component-videos.theme--trending .videos__item:nth-child(10n+9) {
      grid-column-end: span 2;
    }
      .component-videos.theme--trending .videos__item:nth-child(10n+2) .videos__item__image, .component-videos.theme--trending .videos__item:nth-child(10n+5) .videos__item__image, .component-videos.theme--trending .videos__item:nth-child(10n+9) .videos__item__image {
        position: relative;
        padding-top: 0;
        height: 100%;
      }
}
@media (min-width: 768px) {
  .videos__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-videos.theme--featured .videos__items {
    grid-template-columns: repeat(8, 1fr);
  }
    .component-videos.theme--featured .videos__item {
      grid-column-end: span 4;
    }
    .component-videos.theme--featured .videos__item:nth-child(5n+1) {
      grid-column-start: 2;
      grid-column-end: span 6;
    }
    .component-videos.theme--featured .videos__item:nth-child(5n+1) .videos__item__title {
      height: 2.4em;
    }
}
@media (max-width: 767px) {
      .videos__item__title {
        height: 2.4em;
      }
}